@font-face {
  font-family: "iconfont"; /* Project id 3110636 */
  src: url('iconfont.woff2?t=1648038539096') format('woff2'),
  url('iconfont.woff?t=1648038539096') format('woff'),
  url('iconfont.ttf?t=1648038539096') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-1zhanghu:before {
  content: "\e873";
}

.icon-shouji-copy:before {
  content: "\e630";
}

.icon-mima:before {
  content: "\e8b2";
}

.icon-yanzhengma:before {
  content: "\e656";
}

.icon-shijianzhongbiao:before {
  content: "\e810";
}

.icon-beibao:before {
  content: "\e684";
}

.icon-kongxinwujiaoxing:before {
  content: "\e625";
}

.icon-huapen:before {
  content: "\e766";
}

.icon-qichepeijian:before {
  content: "\e600";
}

.icon-jiajujiafang:before {
  content: "\e60a";
}

.icon-chuju:before {
  content: "\e640";
}

.icon-nanzhuang:before {
  content: "\e7b5";
}

.icon-dajiadian:before {
  content: "\e601";
}

.icon-jiaoyuwenju:before {
  content: "\e7a2";
}

.icon-baojian:before {
  content: "\e616";
}

.icon-jiating-yazi:before {
  content: "\e6ed";
}

.icon-ic_project:before {
  content: "\e610";
}

.icon-shoubiao:before {
  content: "\e614";
}

.icon-quqi:before {
  content: "\e607";
}

.icon-lianyiqun:before {
  content: "\e60c";
}

.icon-shouji:before {
  content: "\e602";
}

.icon-tubiao_xiezi:before {
  content: "\e617";
}

.icon-tubiao_meizhuang:before {
  content: "\e61f";
}

.icon-sousuoxiao:before {
  content: "\e8d6";
}

